<main class="bg-[#1C1917] w-full h-fit text-white">

  <div class="relative w-full flex items-center px-28 pt-10">

    <div class="flex w-[40%] flex-col items-center justify-start py-10  gap-40 ">
      <div class="flex flex-col gap-10 ">
       <div [routerLink]="['#']" class="cursor-pointer flex items-center gap-2 font-inter font-bold text-lg">
         <img src="assets/page-4/logo.svg"><span class="">Flowspace</span>
       </div>
        <div class="w-[360px] text-[50px] font-inter font-semibold leading-[60px]">
          Achieve More
          in Less Time.
        </div>

        <div class="w-[340px] font-inter ">
          Revolutionize the way you work with Flowspace. Simplify tasks, manage projects, and boost productivity – all in one place.
        </div>

        <div class="flex items-center justify-between gap-3">
          <div class="cursor-pointer flex items-center justify-center gap-3 w-[205px] h-[61px] bg-[#1C1917] border-[1px] border-[#44403C] rounded-[8.83px]">
          <img src="assets/page-4/apple.svg" alt="appstore">
            <div>
              <p>Download on the</p>
              <p>App Store</p>
            </div>
          </div>

          <div class="flex items-center justify-center gap-3 w-[191px] h-[58px] bg-[#1C1917] border-[1px] border-[#44403C] rounded-[8.83px] cursor-pointer ">
            <img src="assets/page-4/google.svg" alt="googleplay">
            <div>
              <p class="uppercase">Get it on</p>
              <p>Google Play</p>
            </div>
          </div>
        </div>
      </div>


     <div>
       <div>
         “This platform has completely transformed how our team works. We save hours every week by having all our knowledge in one place!”
       </div>

       <div class="flex items-center gap-3 mt-5">
         <img class="w-[40px] h-[40px]" src="assets/page-4/avataar.png">
         <div>
           <p class="font-inter font-bold">Adams Mitchell</p>
           <p class="text-[#78716C] font-inter"> Project Manager</p>
         </div>
       </div>
     </div>


    </div>

    <div>
      <img class="hidden md:flex md:absolute md:inset-0 md:right-0" src="assets/page-4/hero-img.svg">
    </div>


  </div>


</main>
