<div class="w-full font-snproLight">

  <!-- Navbar -->
  <div class="nav flex justify-between items-center px-[48px] py-3 mb-3">
    <img src="assets/global/logo.svg" alt="logo">

    <!-- Hamburger Icon -->
    <div [ngClass]="{'hidden':isMenuOpen}" class="block lg:hidden cursor-pointer" (click)="toggleMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-[#1E3A8A]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>

    <!-- Navigation Links -->
    <div [ngClass]="{ 'hidden': !isMenuOpen, 'flex z-50 absolute bg-white right top-0 right-1 px-5 gap-10': isMenuOpen }" class="lg:flex flex-col lg:flex-row lg:items-center lg:gap-[20px]">
      <h1 class="cursor-pointer" [ngClass]="{'hidden':!isMenuOpen}" (click)="isMenuOpen = false">x</h1>
      <p class="cursor-pointer text-[#1E3A8A]">Startups</p>
      <p class="cursor-pointer text-[#1E3A8A]">Enterprise</p>
      <p class="cursor-pointer text-[#1E3A8A]">Pricing</p>
      <p class="cursor-pointer text-[#1E3A8A]">Resources</p>
      <p class="cursor-pointer text-[#1E3A8A]">Login</p>
      <div class="bg-[#1E3A8A] text-white cursor-pointer flex items-center justify-center rounded-full w-[110px] h-[32px]">
        Contact Us
      </div>
    </div>
  </div>

  <!-- Mid Section -->
  <div class="mid-section flex flex-col items-center bg-hero-patter mt-10">
    <img class="absolute z-0" src="assets/page-1/roundular.svg" alt="">

    <div class="z-10 flex flex-col items-center gap-[10px] font-snprolight text-[#1E3A8A] w-[442px] h-[354px]">
      <p class="font-snproBold font-bold">Trusted by 500+ production teams worldwide</p>
      <p class="font-bold text-[45px] text-center font-snproBold ">Lights. Camera. Organized.</p>
      <p class="text-center font-snproLight">Say goodbye to chaos. From shoot schedules to post-production edits, we’ve got you covered.</p>

      <!-- Buttons -->
      <div class="flex flex-col md:flex-row items-center gap-[16px]">
        <div class="w-[206px] h-[46px] px-[10px] cursor-pointer font-snproBold bg-[#1E3A8A] text-white rounded-full flex items-center justify-center gap-5">
          Get a Free Quote
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.5 12H19.5M19.5 12L13.875 6M19.5 12L13.875 18" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>

        <div class="w-[206px] h-[26px] cursor-pointer font-snproBold border-[1px] border-[#93C5FD] bg-white text-[#1E3A8A] rounded-full flex items-center justify-center gap-5">
          <div class="w-[26px] h-[26px] rounded-full">
            <img src="assets/page-1/avatar.png" alt="avatar">
          </div>
          See a Trailer
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.5 12H19.5M19.5 12L13.875 6M19.5 12L13.875 18" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>

      <div class="relative mt-10 md:mt-0 w-[100%] lg:w-[750px] h-[500px] p-3 border-[1px] border-[#93C5FD] rounded-[15px]">
        <img class="" src="assets/page-1/Hero Image.png" alt="hero-image">
        <img class="z-10 absolute top-20 right-48 lg:top-36 lg:left-80" src="assets/page-1/playbtn.svg" alt="play">
      </div>
    </div>
  </div>
</div>
